<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
</head>
<body>
    <h1> {{ .Title }} </h1>
    {{ range .Story }}
        <p>{{ . }}</p>
    {{ end }}
    {{ range .Options }}
        <a href="{{ .Arc }}">
            <button>{{ .Text }}</button>
        </a>
        <br>
    {{ end }}
    {{ if not .Options }}
        <a href="/">
            <button>Go back to start</button>
        </a>
    {{ end }}
</body>
</html>
